swagger: '2.0'
info:
  version: '1.0'
  title: WebOps API
  description: ''
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /orders:
    post:
      operationId: orders
      summary: Get Orders
      description: |-
        ### Endpoint Changes

        #### Request
        - Added companyId (8.1.0)
        - Added orderHold (8.1.0)
        - Added 'Open' as accepted value for orderStatus (8.3.0)
        - Added usagePricingComplete (8.4.0)

        #### Response
        - Added companyId (8.1.0)
        - Added hospitalErpCode (8.1.0)
        - Added hospitalSystemErpCode (8.1.0)
        - Added orderHold (8.1.0)
        - Added orderHoldReason (8.1.0)
        - Added aliases to caseInfo physician (8.2.0)
        - Added nationalProviderIdentifier to caseInfo physician (8.2.0)
        - Added aliases to caseInfo salesRep (8.2.0)
        - Added hospitalAliases to caseInfo (8.2.0)
        - Added priceDiscrepancyCode to orderItems (8.2.0)
        - Added capItemType to orderItems (8.2.0)
        - Added changedDate (8.2.0)
        - Added rfidTagId(8.4.0)
        - Added usagePricingComplete (8.4.0)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/orders/order-identifiers-U.yaml
              - $ref: ../../common/updated.yaml
              - $ref: ../../common/paging.yaml
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              orders:
                type: array
                items:
                  $ref: ../../docs/orders/order-U.yaml
            required:
              - messageId
              - timestamp
  /orders/count:
    post:
      operationId: orders_count
      summary: Get total number of orders per defined parameters. Must be used in conjunction with /physicians
      description: |-
        ### Endpoint Changes

        #### Request
        - Added companyId (8.1.0)
        - Added orderHold (8.1.0)
        - Added 'Open' as accepted value for orderStatus (8.3.0)
        - Added usagePricingComplete (8.4.0)

        #### Response
        - No Changes
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/orders/order-identifiers-U.yaml
              - $ref: ../../common/updated.yaml
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            $ref: ../../common/responses/count.yaml
  '/order/{WebOpsOrderId}':
    parameters:
      - name: WebOpsOrderId
        in: path
        required: true
        type: string
    put:
      operationId: 'order/{WebOpsOrderId}'
      summary: Edit an Order
      description: |-
        ### Endpoint Changes

        #### Request
        - Added orderHold (8.1.0)
        - Added orderHoldReason (8.1.0)

        #### Response
        - Added companyId (8.1.0)
        - Added hospitalErpCode (8.1.0)
        - Added hospitalSystemErpCode (8.1.0)
        - Added orderHold (8.1.0)
        - Added orderHoldReason (8.1.0)
        - Added aliases to caseInfo physician (8.2.0)
        - Added nationalProviderIdentifier to caseInfo physician (8.2.0)
        - Added aliases to caseInfo salesRep (8.2.0)
        - Added hospitalAliases to caseInfo (8.2.0)
        - Added priceDiscrepancyCode to orderItems (8.2.0)
        - Added capItemType to orderItems (8.2.0)
        - Added changedDate (8.2.0)
        - Added rfidTagId(8.4.0)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/orders/order-edit-U.yaml
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              orders:
                type: array
                items:
                  $ref: ../../docs/orders/order-U.yaml
            required:
              - messageId
              - timestamp
  '/order/{WebOpsOrderId}/savePO':
    parameters:
      - name: WebOpsOrderId
        in: path
        required: true
        type: string
    put:
      operationId: 'order/{WebOpsOrderId}/savePO'
      summary: Save PO for an Order
      description: |-
        ### Endpoint Changes

        #### Request
        - No changes

        #### Response
        - Added companyId (8.1.0)
        - Added hospitalErpCode (8.1.0)
        - Added hospitalSystemErpCode (8.1.0)
        - Added orderHold (8.1.0)
        - Added orderHoldReason (8.1.0)
        - Added aliases to caseInfo physician (8.2.0)
        - Added nationalProviderIdentifier to caseInfo physician (8.2.0)
        - Added aliases to caseInfo salesRep (8.2.0)
        - Added hospitalAliases to caseInfo (8.2.0)
        - Added priceDiscrepancyCode to orderItems (8.2.0)
        - Added capItemType to orderItems (8.2.0)
        - Added changedDate (8.2.0)
        - Added rfidTagId(8.4.0)
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/orders/order-save-po-1.yaml
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              orders:
                type: array
                items:
                  $ref: ../../docs/orders/order-U.yaml
            required:
              - messageId
              - timestamp
parameters:
  'trait:messageHeaders:Authorization':
    name: Authorization
    in: header
    description: 'Base64(UserName:Password)'
    required: true
    type: string
  'trait:messageHeaders:Access_token':
    name: Access_token
    in: header
    description: '{Access_Token} from token inbound service'
    required: true
    type: string
responses:
  'trait:errorResponses:403':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: '1105'
        message:
          type: string
          description: Error message description
          example: Call limit is reached
  'trait:errorResponses:422':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: 1020-1040
        message:
          type: string
          description: Error message description
          example: Invalid parameter
  'trait:errorResponses:500':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: '1100'
        message:
          type: string
          description: Error message description
          example: An unexpected server error occurred while processing the request
definitions:
  count:
    title: Count
    type: object
    required:
      - count
      - messageId
      - timestamp
    properties:
      messageId:
        type: string
        format: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        description: Message ID
      timestamp:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Current date/time in ISO-8601 Z format
      count:
        type: integer
        example: 100
        description: total number of results that match the requested criteria
    x-internal: true
  message-data:
    title: Message Data
    type: object
    required:
      - messageId
      - timestamp
    properties:
      messageId:
        type: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        description: Message ID of the request
      timestamp:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Current date/time in ISO-8601 Z format
    x-internal: true
  paging:
    title: Paging
    type: object
    properties:
      limit:
        type: integer
        example: 50
        description: 'Number of returned results (default: 50)(maximum: 500)'
      page:
        type: integer
        example: 1
        description: 'Page to show (default: 1)'
    description: Limit and page parameters get set to default values if not provided
    x-internal: true
  order-save-po-1:
    title: Order - Save PO
    type: object
    required:
      - messageId
      - timestamp
      - manufacturerId
      - branchId
      - caseId
      - poNumber
    properties:
      messageId:
        type: string
        description: Message ID
        format: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
      timestamp:
        type: string
        description: Current date/time in ISO-8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      manufacturerId:
        type: integer
        description: Designated Manufacturer ID
        format: int64
        example: 1234
      branchId:
        type: integer
        description: Designated Branch ID
        format: int64
        example: 9
      caseId:
        type: integer
        description: Designated Case ID
        format: int64
        example: 123456
      poNumber:
        type: string
        description: Purchase order number
        example: 12345-RO
        maxLength: 50
    x-internal: true
  updated:
    title: Updated
    type: object
    required:
      - manufacturerId
      - messageId
      - timestamp
    properties:
      updatedAtMin:
        type: string
        format: date-time
        example: '2017-11-05T13:15:30Z'
        description: Get updated results after this date. All date times must be provided in ISO 8601 Z format
      updatedAtMax:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Get updated results before this date. All date times must be provided in ISO 8601 Z format
    x-internal: true
