swagger: '2.0'
info:
  version: '1.0'
  title: WebOps API
  description: ''
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /productSystems/delta:
    post:
      operationId: product_systems_delta
      summary: Get Product Systems Delta
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/product-system-with-description-1'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Product Systems
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              productSystems:
                type: array
                items:
                  $ref: '#/definitions/product-system-delta-u'
            required:
              - messageId
              - timestamp
  /productSystems/delta/count:
    post:
      operationId: product_systems_delta_count
      summary: Get total number of product systems per defined parameters. Must be used in conjunction with /productSystems/delta.
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/product-system-identifiers-1'
              - $ref: '#/definitions/updated'
            description: Product Systems
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
parameters:
  'trait:messageHeaders:Authorization':
    name: Authorization
    in: header
    description: 'Base64(UserName:Password)'
    required: true
    type: string
  'trait:messageHeaders:Access_token':
    name: Access_token
    in: header
    description: '{Access_Token} from token inbound service'
    required: true
    type: string
responses:
  'trait:errorResponses:403':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: '1105'
        message:
          type: string
          description: Error message description
          example: Call limit is reached
  'trait:errorResponses:422':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: 1020-1040
        message:
          type: string
          description: Error message description
          example: Invalid parameter
  'trait:errorResponses:500':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: '1100'
        message:
          type: string
          description: Error message description
          example: An unexpected server error occurred while processing the request
definitions:
  count:
    title: Count
    type: object
    required:
      - count
      - messageId
      - timestamp
    properties:
      messageId:
        type: string
        format: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        description: Message ID
      timestamp:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Current date/time in ISO-8601 Z format
      count:
        type: integer
        example: 100
        description: total number of results that match the requested criteria
    x-internal: true
  message-data:
    title: Message Data
    type: object
    required:
      - messageId
      - timestamp
    properties:
      messageId:
        type: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        description: Message ID of the request
      timestamp:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Current date/time in ISO-8601 Z format
    x-internal: true
  paging:
    title: Paging
    type: object
    properties:
      limit:
        type: integer
        example: 50
        description: 'Number of returned results (default: 50)(maximum: 500)'
      page:
        type: integer
        example: 1
        description: 'Page to show (default: 1)'
    description: Limit and page parameters get set to default values if not provided
    x-internal: true
  product-system-delta-u:
    title: Product System Delta
    type: object
    properties:
      branches:
        type: array
        items:
          type: object
          properties:
            branchId:
              type: integer
              description: Branch ID associated with the procedure
              example: 10
            branchErpCode:
              type: string
              description: Procedure branch erp code
              example: 123-ERP
              maxLength: 50
          required:
            - branchId
            - branchErpCode
      id:
        type: integer
        description: Product system ID
        example: 1234
      name:
        type: string
        description: Product system Name
        example: proc
        maxLength: 50
      description:
        type: string
        description: Product system description
        example: desc
        maxLength: 500
      active:
        type: boolean
        description: '(Active = true, Inactive = false)'
        example: true
      manufacturerGlobal:
        type: boolean
        description: 'Yes = true, No = false'
        example: true
      changedBy:
        type: string
        description: Name of the user who last changed the product system
        example: John Doe
        maxLength: 101
      changedDate:
        type: string
        format: date-time
        description: Last changed date and time in ISO 8601 Z format
        example: '2018-11-05T13:15:30Z'
    required:
      - id
      - name
      - active
      - manufacturerGlobal
      - changedBy
      - changedDate
    x-internal: true
  product-system-identifiers-1:
    title: Product System Identifiers
    type: object
    required:
      - messageId
      - manufacturerId
      - timestamp
    properties:
      manufacturerId:
        type: integer
        description: Designated manufacturer ID
        format: int64
        example: 1234
      branchId:
        type: integer
        description: Product system branch id
        format: int64
        example: 1234
      ids:
        type: string
        description: Comma-separated list of Product system IDs; max length of 100 IDs
        example: '123, 456, 789, 0123'
      name:
        type: string
        description: Product system Name
        example: Product system A
        maxLength: 50
      active:
        type: boolean
        description: '(Active = true, Inactive = false)'
        example: true
    x-internal: true
  product-system-with-description-1:
    title: Product System with Description
    type: object
    required:
      - messageId
      - manufacturerId
      - timestamp
    properties:
      manufacturerId:
        type: integer
        description: Designated manufacturer ID
        format: int64
        example: 1234
      branchId:
        type: integer
        description: Product system branch id
        format: int64
        example: 1234
      ids:
        type: string
        description: Comma-separated list of Product system IDs; max length of 100 IDs
        example: '123, 456, 789, 0123'
      name:
        type: string
        description: Product system Name
        example: Product system A
        maxLength: 50
      description:
        type: string
        description: Product system description
        example: Product system A desc
        maxLength: 500
      active:
        type: boolean
        description: '(Active = true, Inactive = false)'
        example: true
    x-internal: true
  updated:
    title: Updated
    type: object
    required:
      - manufacturerId
      - messageId
      - timestamp
    properties:
      updatedAtMin:
        type: string
        format: date-time
        example: '2017-11-05T13:15:30Z'
        description: Get updated results after this date. All date times must be provided in ISO 8601 Z format
      updatedAtMax:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Get updated results before this date. All date times must be provided in ISO 8601 Z format
    x-internal: true
