swagger: '2.0'
info:
  version: '1.0'
  title: WebOps API
  description: ''
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /transactions:
    post:
      operationId: transactions
      summary: Get Transactions
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/transactions/transaction-identifiers-u.yaml
              - $ref: ../../common/updated.yaml
              - $ref: ../../docs/transactions/transaction-updated-fields-u.yaml
              - $ref: ../../docs/transactions/transaction-details-u.yaml
              - $ref: ../../common/paging.yaml
            description: Transactions
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              transactions:
                type: array
                items:
                  $ref: ../../docs/transactions/transaction-u.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  /transactions/count:
    post:
      operationId: transactions_count
      summary: Get total number of transactions per defined parameters. Must be used in conjunction with /transactions
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/transactions/transaction-identifiers-u.yaml
              - $ref: ../../common/updated.yaml
              - $ref: ../../docs/transactions/transaction-updated-fields-u.yaml
            description: Transactions
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            $ref: ../../common/responses/count.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  /transaction:
    post:
      operationId: transaction
      summary: Create Transaction
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/transactions/transaction-post-u.yaml
            description: Transactions
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              transactions:
                type: array
                items:
                  $ref: ../../docs/transactions/transaction-no-items-u.yaml
            required:
              - messageId
              - timestamp
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  '/transaction/{WebOpsTransactionId}':
    parameters:
      - name: WebOpsTransactionId
        in: path
        required: true
        type: string
    put:
      operationId: transaction_update
      summary: Update Transaction
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/transactions/transaction-update-u.yaml
            description: Transaction
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              transactions:
                type: array
                items:
                  $ref: ../../docs/transactions/transaction-u.yaml
            required:
              - messageId
              - timestamp
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  '/transaction/{WebOpsTransactionId}/transactionItems':
    parameters:
      - name: WebOpsTransactionId
        in: path
        required: true
        type: string
    post:
      operationId: transaction_items_create
      summary: Create Transaction items
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/transactions/transaction-items-post-u.yaml
            description: Transaction Items
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                items:
                  $ref: ../../docs/transactions/line-detail-transaction-items-u.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
    put:
      operationId: transaction_items_update
      summary: Update Transaction Items
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/transactions/transaction-items-update-u.yaml
            description: Transaction Items
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                items:
                  $ref: ../../docs/transactions/line-detail-transaction-items-u.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml