swagger: '2.0'
info:
  version: '1.0'
  title: WebOps API
  description: ''
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /cases:
    post:
      operationId: cases
      summary: Get Cases
      tags:
        - Cases (2.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added companyId (8.1.0)\r\n- Added orderHold (8.1.0)\r\n\r\n#### Response\r\n- Added procedureCompanyId (8.1.0)\r\n- Added companyId to productSystems (8.1.0)\r\n- Added companyId to loanerUsage (8.1.0)\r\n- Added companyId to consignmentUsage (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n- Added kitAssignedDate (8.1.0)\r\n- Added reroutedFrom (8.1.0)\r\n- Added reroutedTo (8.1.0)\r\n- Added kitCheckInDate (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/case-surgery-date-2'
              - $ref: '#/definitions/paging'
              - $ref: '#/definitions/case-additional-entities-2'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-list-only-u'
            required:
              - messageId
              - timestamp
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /cases/count:
    post:
      operationId: cases_count
      summary: Get total number of cases per defined parameters. Must be used in conjunction with /cases.
      tags:
        - Cases (2.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/case-surgery-date-2'
            description: Branches
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /case:
    post:
      operationId: case
      summary: Create Case
      tags:
        - Cases (2.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n- Added insuranceCompanyId (8.1.0)\r\n\r\n#### Response\r\n- Added procedureCompanyId (8.1.0)\r\n- Added companyId to productSystems (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-post-u'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-no-usage-u'
            required:
              - messageId
              - timestamp
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  '/case/{WebOpsCaseId}':
    parameters:
      - name: WebOpsCaseId
        in: path
        required: true
        type: string
    put:
      operationId: 'case/{WebOpsCaseId}'
      summary: Update Case
      tags:
        - Cases (2.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n\r\n#### Response\r\n- Added procedureCompanyId (8.1.0)\r\n- Added companyId to productSystems (8.1.0)\r\n- Added companyId to loanerUsage (8.1.0)\r\n- Added companyId to consignmentUsage (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-update-u'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-u'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  '/case/{WebOpsCaseId}/cancel':
    parameters:
      - name: WebOpsCaseId
        in: path
        required: true
        type: string
    put:
      operationId: 'case/{WebOpsCaseId}/cancel'
      summary: Cancel Case
      tags:
        - Cases (2.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- Added procedureCompanyId (8.1.0)\r\n- Added companyId to productSystems (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-cancel-2'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-cancel-response-u'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /inventories/bulk:
    post:
      operationId: inventories_bulk
      summary: Create Inventory in Bulk
      tags:
        - Inventories (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added processAsTransaction (8.1.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/inventory-post-u'
            description: Post Inventory in Bulk
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                items:
                  $ref: '#/definitions/line-detail-inventory-1'
  /inventories/status:
    put:
      operationId: inventories_status
      summary: Update Inventory Status
      tags:
        - Inventories (1.0)
      description: "## New Endpoint\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- Items are now eligible for status update from Damaged, X, and Returned to D01 statuses (7.7.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              manufacturerId:
                type: integer
                description: Designated manufacturer ID
                format: int64
                example: 1234
              itemParts:
                type: array
                items:
                  $ref: '#/definitions/inventory-status-update-u'
            required:
              - messageId
              - timestamp
              - manufacturerId
              - itemParts
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                items:
                  $ref: '#/definitions/line-detail-inventory-status-1'
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /kit/checkIn:
    put:
      operationId: kits-check-in
      summary: Check In Kit
      tags:
        - Kits (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/kit-check-in-identifiers-1'
            description: Kit Families
      responses:
        '200':
          description: ''
          schema:
            type: object
            description: ''
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              checkInSummary:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: integer
                    description: Check In Summary ID.
                    format: int64
                    example: 123
                  kitId:
                    type: integer
                    description: Kit ID.
                    format: int64
                    example: 123
                  caseId:
                    type: integer
                    description: Case ID.
                    format: int64
                    example: 123
                  complete:
                    type: boolean
                    description: '(Complete = true, Incomplete = false)'
                    example: true
                  scannedInventoryItemParts:
                    type: array
                    items:
                      type: object
                      properties:
                        catalogNumber:
                          type: string
                          description: Kit item catalog number
                          example: 01-2432-3333
                          maxLength: 45
                        lotCode:
                          type: string
                          description: Kit item lot code
                          example: HEBN7890
                          maxLength: 45
                        inventoryItemPartId:
                          type: integer
                          description: Inventory Item Part ID
                          format: int64
                          example: 10
                      required:
                        - catalogNumber
                        - inventoryItemPartId
                  invalidScanneditems:
                    type: array
                    items:
                      type: object
                      properties:
                        catalogNumber:
                          type: string
                          description: Kit item catalog number
                          example: 01-2432-3333
                          maxLength: 45
                        lotCode:
                          type: string
                          description: Kit item lot code
                          example: HEBN7890
                          maxLength: 45
                        errorDescription:
                          type: string
                          description: Reason scanned item was invalid
                          example: Scanned Item doesn't belong to this kit.
                          maxLength: 255
                      required:
                        - catalogNumber
                        - errorDescription
            required:
              - messageId
              - timestamp
              - checkInSummary
  /kits:
    post:
      operationId: get-kits
      summary: Get Kits
      tags:
        - Kits (2.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/kit-identifiers-2'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
              - type: object
                properties:
                  includeItemDetails:
                    type: boolean
                    example: true
                    description: 'Include kit details in response - Default = false (Yes = true, No = false)'
                  includeItemSummary:
                    type: boolean
                    description: 'Include kit summary in response - Default = false (Yes = true, False = false)'
                    example: true
            description: Kits
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              kits:
                type: array
                items:
                  $ref: '#/definitions/kit-2'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /orders:
    post:
      operationId: orders
      summary: Get Orders
      tags:
        - Orders (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added companyId (8.1.0)\r\n- Added orderHold (8.1.0)\r\n\r\n#### Response\r\n- Added companyId (8.1.0)\r\n- Added hospitalErpCode (8.1.0)\r\n- Added hospitalSystemErpCode (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n- Added aliases to caseInfo physician (8.2.0)\r\n- Added nationalProviderIdentifier to caseInfo physician (8.2.0)\r\n- Added aliases to caseInfo salesRep (8.2.0)\r\n- Added hospitalAliases to caseInfo (8.2.0)\r\n- Added priceDiscrepancyCode to orderItems (8.2.0)\r\n- Added capItemType to orderItems (8.2.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/order-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              orders:
                type: array
                items:
                  $ref: '#/definitions/order-u'
            required:
              - messageId
              - timestamp
  /orders/count:
    post:
      operationId: orders_count
      summary: Get total number of orders per defined parameters. Must be used in conjunction with /physicians
      tags:
        - Orders (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added companyId (8.1.0)\r\n- Added orderHold (8.1.0)\r\n\r\n#### Response\r\n- No Changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/order-identifiers-u'
              - $ref: '#/definitions/updated'
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
  '/order/{WebOpsOrderId}':
    parameters:
      - name: WebOpsOrderId
        in: path
        required: true
        type: string
    put:
      operationId: 'order/{WebOpsOrderId}'
      summary: Edit an Order
      tags:
        - Orders (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n\r\n#### Response\r\n- Added companyId (8.1.0)\r\n- Added hospitalErpCode (8.1.0)\r\n- Added hospitalSystemErpCode (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n- Added aliases to caseInfo physician (8.2.0)\r\n- Added nationalProviderIdentifier to caseInfo physician (8.2.0)\r\n- Added aliases to caseInfo salesRep (8.2.0)\r\n- Added hospitalAliases to caseInfo (8.2.0)\r\n- Added priceDiscrepancyCode to orderItems (8.2.0)\r\n- Added capItemType to orderItems (8.2.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/order-edit-u'
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              orders:
                type: array
                items:
                  $ref: '#/definitions/order-u'
  '/order/{WebOpsOrderId}/savePO':
    parameters:
      - name: WebOpsOrderId
        in: path
        required: true
        type: string
    put:
      operationId: 'order/{WebOpsOrderId}/savePO'
      summary: Save PO for an Order
      tags:
        - Orders (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- Added companyId (8.1.0)\r\n- Added hospitalErpCode (8.1.0)\r\n- Added hospitalSystemErpCode (8.1.0)\r\n- Added orderHold (8.1.0)\r\n- Added orderHoldReason (8.1.0)\r\n- Added aliases to caseInfo physician (8.2.0)\r\n- Added nationalProviderIdentifier to caseInfo physician (8.2.0)\r\n- Added aliases to caseInfo salesRep (8.2.0)\r\n- Added hospitalAliases to caseInfo (8.2.0)\r\n- Added priceDiscrepancyCode to orderItems (8.2.0)\r\n- Added capItemType to orderItems (8.2.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/order-save-po-1'
            description: Orders
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              orders:
                type: array
                items:
                  $ref: '#/definitions/order-u'
  /physicians:
    post:
      operationId: physicians
      summary: Get Physicians
      tags:
        - Physicians (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added includeAddresses (8.1.0)\r\n- Added includePhoneNumbers (8.1.0)\r\n\r\n#### Response\r\n- Added insuranceCompany (8.1.0)\r\n- Added addresses (8.1.0)\r\n- Added phoneNumbers (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/physician-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
              - type: object
                properties:
                  includePreferences:
                    type: boolean
                    example: true
                    description: 'Include physician preference details in response - Default = false (Yes = true, No = false)'
              - type: object
                properties:
                  includeAddresses:
                    type: boolean
                    example: true
                    description: 'Include physician address details in response - Default = false (Yes = true, No = false)'
              - type: object
                properties:
                  includePhoneNumbers:
                    type: boolean
                    example: true
                    description: 'Include physician phone details in response - Default = false (Yes = true, No = false)'
            description: Physicians
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              physicians:
                type: array
                items:
                  $ref: '#/definitions/physician-u'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /physicians/bulk:
    post:
      operationId: physicians_bulk_post
      summary: Create Physicians in Bulk
      tags:
        - Physicians (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added insuranceCompanyId (8.1.0)\r\n- Added addresses (8.1.0)\r\n- Added phoneNumbers (8.1.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/physician-bulk-post-identifiers-u'
            description: Physicians
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual physicians from the request.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: 'ID of the physician. If an error occurred during save, the will not be returned.'
                      format: int64
                      example: 123
                    erpCode:
                      type: string
                      description: External ERP Code of the physician
                      example: ERP123
                      maxLength: 50
                    code:
                      type: integer
                      description: One of the defined response codes
                      example: 1010
                    message:
                      type: string
                      description: Status Message
                      example: Success
                  required:
                    - id
                    - erpCode
                    - code
                    - message
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
    put:
      operationId: physicians-bulk-put
      summary: Update Physicians in Bulk
      tags:
        - Physicians (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added insuranceCompanyId (8.1.0)\r\n- Added addresses (8.1.0)\r\n- Added phoneNumbers (8.1.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/physician-bulk-put-identifiers-u'
            description: Physicians
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            description: ''
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual physicians from the request.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID of the physician
                      format: int64
                      example: 123
                    erpCode:
                      type: string
                      description: External ERP Code of the physician
                      example: ERP123
                      maxLength: 50
                    code:
                      type: integer
                      description: One of the defined response codes
                      example: 1010
                    message:
                      type: string
                      description: Status Message
                      example: Success
                  required:
                    - id
                    - erpCode
                    - code
                    - message
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /procedures:
    post:
      operationId: get_procedures
      summary: Get Procedures
      tags:
        - Procedures (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added companyId (8.1.0)\r\n\r\n#### Response\r\n- Added companyId (8.1.0)\r\n- Added companyId to productSystems (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/procedure-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
              - type: object
                properties:
                  includeDetails:
                    type: boolean
                    example: true
                    description: 'Include procedure categories in response - Default = false (Yes = true, No = false)'
            description: Procedures
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              procedures:
                type: array
                items:
                  $ref: '#/definitions/procedure-u'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /procedures/count:
    post:
      operationId: procedures_count
      summary: Get total number of procedures per defined parameters. Must be used in conjunction with /procedures
      tags:
        - Procedures (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added companyId (8.1.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/procedure-identifiers-u'
              - $ref: '#/definitions/updated'
            description: Sales Reps
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /procedures/delta:
    post:
      operationId: get_procedures_delta
      summary: Get Procedures Delta
      tags:
        - Procedures (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/procedure-delta-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Procedures
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              procedures:
                type: array
                items:
                  $ref: '#/definitions/procedure-delta-u'
            required:
              - messageId
              - timestamp
  /procedures/delta/count:
    post:
      operationId: procedures_delta_count
      summary: Get total number of procedures per defined parameters. Must be used in conjunction with /procedures/delta
      tags:
        - Procedures (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/procedure-delta-identifiers-u'
              - $ref: '#/definitions/updated'
            description: Sales Reps
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /procedureCategories/delta:
    post:
      operationId: get_procedure_categories_delta
      summary: Get Procedure Categories Delta
      tags:
        - Procedures (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/procedure-category-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Procedures
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              procedureCategories:
                type: array
                items:
                  $ref: '#/definitions/procedure-category-delta-u'
            required:
              - messageId
              - timestamp
  /procedureCategories/delta/count:
    post:
      operationId: procedure_categories_delta_count
      summary: Get total number of procedure categories per defined parameters. Must be used in conjunction with /procedureCategories/delta
      tags:
        - Procedures (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/procedure-category-identifiers-u'
              - $ref: '#/definitions/updated'
            description: Sales Reps
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
  /productSystems/delta:
    post:
      operationId: product_systems_delta
      summary: Get Product Systems Delta
      tags:
        - Product Systems (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/product-system-with-description-1'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Product Systems
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              productSystems:
                type: array
                items:
                  $ref: '#/definitions/product-system-delta-u'
            required:
              - messageId
              - timestamp
  /productSystems/delta/count:
    post:
      operationId: product_systems_delta_count
      summary: Get total number of product systems per defined parameters. Must be used in conjunction with /productSystems/delta.
      tags:
        - Product Systems (1.0)
      description: "## New Endpoint (7.7.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/product-system-identifiers-1'
              - $ref: '#/definitions/updated'
            description: Product Systems
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
  /requisitions:
    post:
      operationId: requisitions
      summary: Get Requisitions
      tags:
        - Requisitions (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- Added kitName (8.1.0)\r\n- Added kitBarcode (8.1.0)\r\n- Added requisitionItemId (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/requisition-identifiers-1'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Requisitions
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              requisitions:
                type: array
                items:
                  $ref: '#/definitions/requisition-u'
  '/requisition/{requisitionId}':
    parameters:
      - name: requisitionId
        in: path
        required: true
        type: string
    put:
      operationId: 'requisition/{requisitionId}'
      summary: Update Requisition Status
      tags:
        - Requisitions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/requisition-update-u'
            description: Requisitions
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              requisitions:
                type: array
                items:
                  $ref: '#/definitions/requisition-u'
  /salesReps:
    post:
      operationId: sales-reps
      summary: Get Sales Reps
      tags:
        - Sales Reps (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- Added aliases (8.2.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/sales-rep-identifiers-1'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
            description: Sales Reps
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              salesReps:
                type: array
                items:
                  $ref: '#/definitions/sales-rep-u'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /salesReps/bulk:
    post:
      operationId: sales-reps-bulk-post
      summary: Post new sales reps in bulk
      tags:
        - Sales Reps (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added aliases (8.2.0)\r\n- Added assignTechRepRole (8.2.0)\r\n- Added requirePasswordReset (8.2.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/sales-rep-bulk-post-identifiers-u'
            description: Sales Reps
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual hospitals from the request.
                items:
                  $ref: '#/definitions/sales-rep-bulk-1'
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
    put:
      operationId: sales-reps-bulk-put
      summary: Update sales reps in bulk
      tags:
        - Sales Reps (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added aliases (8.2.0)\r\n- Added assignTechRepRole (8.2.0)\r\n- Added requirePasswordReset (8.2.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/sales-rep-bulk-put-identifiers-u'
            description: Sales Reps
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual hospitals from the request.
                items:
                  $ref: '#/definitions/sales-rep-bulk-1'
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /shipments:
    post:
      operationId: get-shipments
      summary: Get Shipments
      tags:
        - Shipments (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added shippingMethodId (8.1.0)\r\n\r\n#### Response\r\n- Added shipmentExternalKits (8.1.0)\r\n- Changed datatype to string for numberOfTubs (8.1.0)\r\n- Changed datatype to string for numberOfTrays (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/shipment-identifiers-u'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/paging'
              - type: object
                properties:
                  includeKitDetails:
                    type: boolean
                    description: 'Yes to include shipment kit details in the response. Default = No (true = Yes, false = No)'
                    example: true
                  includeAddressDetails:
                    type: boolean
                    description: 'Yes to include full address details in the response. Default = No (true = Yes, false = No)'
                    example: true
            description: Shipments
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              shipments:
                type: array
                items:
                  $ref: '#/definitions/shipment-u'
            required:
              - messageId
              - timestamp
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /shipments/count:
    post:
      operationId: shipments_count
      summary: Get total number of shipments per defined parameters. Must be used in conjunction with /shipments.
      tags:
        - Shipments (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- Added shippingMethodId (8.1.0)\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/shipment-identifiers-u'
              - $ref: '#/definitions/updated'
            description: Shipments
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  '/shipment/{WebopsShipmentId}':
    parameters:
      - name: WebopsShipmentId
        in: path
        required: true
        type: string
    put:
      operationId: update-shipment
      summary: Update Shipment
      tags:
        - Shipments (1.0)
      description: "### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- Added shipmentExternalKits (8.1.0)\r\n- Changed datatype to string for numberOfTubs (8.1.0)\r\n- Changed datatype to string for numberOfTrays (8.1.0)"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - type: object
                properties:
                  manufacturerId:
                    type: integer
                    description: Designated manufacturer ID
                    format: int64
                    example: 1234
                  shipmentStatus:
                    type: string
                    enum:
                      - Scheduled
                      - Shipped
                      - Received
                      - Canceled
                    description: Shipment status
                    example: Scheduled
                  trackingNumber:
                    type: string
                    description: Tracking Number of shipment
                    example: x1478054
                    maxLength: 200
                required:
                  - manufacturerId
            description: Update Shipment
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              shipment:
                $ref: '#/definitions/shipment-u'
            required:
              - messageId
              - timestamp
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /transactions:
    post:
      operationId: transactions
      summary: Get Transactions
      tags:
        - Transactions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/transaction-identifiers'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/transaction-details'
              - $ref: '#/definitions/paging'
            description: Hospitals
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              transactions:
                type: array
                items:
                  $ref: '#/definitions/transaction'
  /transactions/count:
    post:
      operationId: transactions_count
      summary: Get total number of transactions per defined parameters. Must be used in conjunction with /hospitals
      tags:
        - Transactions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/transaction-identifiers'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/transaction-updated-fields'
            description: Transactions
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
  /transaction:
    post:
      operationId: transaction
      summary: Create Transaction
      tags:
        - Transactions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/transaction-post'
            description: Transactions
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              transactions:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: WebOps Transaction ID
                      format: int64
                      example: 123
                    transactionDate:
                      type: string
                      description: Transaction date in 24 hour format
                      format: date-time
                      example: '2018-11-05 13:15'
                    salesRepId:
                      type: integer
                      description: Transaction sales rep ID
                      format: int64
                      example: 123
                    originWarehouseId:
                      type: integer
                      description: Transaction origin warehouse ID
                      format: int64
                      example: 123
                    destinationWarehouseId:
                      type: integer
                      description: Transaction destination warehouse ID
                      format: int64
                      example: 123
                    transactionType:
                      type: string
                      description: Transaction type
                      enum:
                        - Demo
                        - Order
                        - Return
                        - Sale
                        - Sample
                        - Swap -One-Sided
                        - Swap -Two-Sided
                      example: Demo
                    transactionStatus:
                      type: string
                      description: Transaction status
                      enum:
                        - New
                        - Pending
                        - Closed
                        - Cancelled
                        - Modified
                      example: New
                    shippingMethodId:
                      type: integer
                      description: Transaction shipping method ID
                      format: int64
                      example: 1345
                    active:
                      type: boolean
                      description: 'Is transaction active - (Yes = true, No = false)'
                      example: true
                    createdBy:
                      type: string
                      description: Name of the user who created the transaction
                      example: John Doe
                      maxLength: 101
                    createdDate:
                      type: string
                      description: Created date and time in ISO 8601 Z format
                      format: date-time
                      example: '2018-11-05T13:15:30Z'
                    changedBy:
                      type: string
                      description: Name of the user who last changed the transaction
                      example: John Doe
                      maxLength: 101
                    changedDate:
                      type: string
                      description: Last changed date and time in ISO 8601 Z format
                      format: date-time
                      example: '2018-11-05T13:15:30Z'
                    purchaseOrderNumber:
                      type: string
                      description: Transaction purchase order number
                      example: TXN12346-PO
                      maxLength: 50
                    notes:
                      type: string
                      description: Transaction notes
                      example: Additional notes or comments
                      maxLength: 500
                    timezone:
                      type: string
                      description: Last changed date time zone
                      example: America/New_York
                      maxLength: 50
                  required:
                    - id
                    - transactionDate
                    - salesRepId
                    - originWarehouseId
                    - destinationWarehouseId
                    - transactionType
                    - transactionStatus
                    - shippingMethodId
                    - isActive
                    - createdBy
                    - createdDate
                    - changedBy
                    - changedDate
            required:
              - messageId
              - timestamp
  '/transaction/{WebOpsTransactionId}':
    parameters:
      - name: WebOpsTransactionId
        in: path
        required: true
        type: string
    put:
      operationId: transaction_update
      summary: Update Transaction
      tags:
        - Transactions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/transaction-update'
            description: Transaction
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              transactions:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: WebOps Transaction ID
                      format: int64
                      example: 123
                    transactionDate:
                      type: string
                      description: Transaction date in 24 hour format
                      format: date-time
                      example: '2018-11-05 13:15'
                    salesRepId:
                      type: integer
                      description: Transaction sales rep ID
                      format: int64
                      example: 123
                    originWarehouseId:
                      type: integer
                      description: Transaction origin warehouse ID
                      format: int64
                      example: 123
                    destinationWarehouseId:
                      type: integer
                      description: Transaction destination warehouse ID
                      format: int64
                      example: 123
                    transactionType:
                      type: string
                      description: Transaction type
                      enum:
                        - Demo
                        - Order
                        - Return
                        - Sale
                        - Sample
                        - Swap -One-Sided
                        - Swap -Two-Sided
                      example: Demo
                    transactionStatus:
                      type: string
                      description: Transaction status
                      enum:
                        - New
                        - Pending
                        - Closed
                        - Cancelled
                        - Modified
                      example: New
                    shippingMethodId:
                      type: integer
                      description: Transaction shipping method ID
                      format: int64
                      example: 1345
                    active:
                      type: boolean
                      description: 'Is transaction active - (Yes = true, No = false)'
                      example: true
                    createdBy:
                      type: string
                      description: Name of the user who created the transaction
                      example: John Doe
                      maxLength: 101
                    createdDate:
                      type: string
                      description: Created date and time in ISO 8601 Z format
                      format: date-time
                      example: '2018-11-05T13:15:30Z'
                    changedBy:
                      type: string
                      description: Name of the user who last changed the transaction
                      example: John Doe
                      maxLength: 101
                    changedDate:
                      type: string
                      description: Last changed date and time in ISO 8601 Z format
                      format: date-time
                      example: '2018-11-05T13:15:30Z'
                    purchaseOrderNumber:
                      type: string
                      description: Transaction purchase order number
                      example: TXN12346-PO
                      maxLength: 50
                    notes:
                      type: string
                      description: Transaction notes
                      example: Additional notes or comments
                      maxLength: 500
                    timezone:
                      type: string
                      description: Last changed date time zone
                      example: America/New_York
                      maxLength: 50
                    transactionItems:
                      type: array
                      items:
                        type: object
                        properties:
                          transactionItemId:
                            type: integer
                            description: WebOps transaction item ID
                            format: int64
                            example: 34088
                          catalogNumber:
                            type: string
                            description: Transaction item catalog number
                            example: 02-354-TEMP
                          lotCode:
                            type: string
                            description: Transaction item lot code
                            example: LotCode1
                          expirationDate:
                            type: string
                            format: date-time
                            example: '2018-01-31'
                            description: Date the item is set to expire. Must be in YYYY-MM-DD format
                          unitPrice:
                            type: integer
                            format: double
                            description: Transaction item price
                            example: 12.89
                          quantity:
                            type: integer
                            description: 'Total quantity of specified transaction item (default: 1)'
                            example: 1
                          totalPrice:
                            type: integer
                            format: double
                            description: Transaction item price x quantity
                            example: 12.89
                          currencyCode:
                            type: string
                            description: Transaction item price currency code - ISO 4217
                            example: USD
                          discrepancyCodeId:
                            type: integer
                            description: Transaction item price discrepancy code ID
                            format: int64
                            example: 34088
                          sourceWarehouseId:
                            type: integer
                            description: Transaction item source warehouse ID
                            format: int64
                            example: 123
                          createdBy:
                            type: string
                            description: Name of the user who created the transaction
                            example: John Doe
                            maxLength: 101
                          createdDate:
                            type: string
                            description: Created date and time in ISO 8601 Z format
                            format: date-time
                            example: '2018-11-05T13:15:30Z'
                          changedBy:
                            type: string
                            description: Name of the user who last changed the transaction
                            example: John Doe
                            maxLength: 101
                          changedDate:
                            type: string
                            description: Last changed date and time in ISO 8601 Z format
                            format: date-time
                            example: '2018-11-05T13:15:30Z'
                        required:
                          - transactionItemId
                          - catalogNumber
                          - unitPrice
                          - quantity
                          - totalPrice
                          - currencyCode
                          - createdBy
                          - createdDate
                          - changedBy
                          - changedDate
                  required:
                    - id
                    - transactionDate
                    - salesRepId
                    - originWarehouseId
                    - destinationWarehouseId
                    - transactionType
                    - transactionStatus
                    - shippingMethodId
                    - isActive
                    - createdBy
                    - createdDate
                    - changedBy
                    - changedDate
            required:
              - messageId
              - timestamp
  '/transaction/{WebOpsTransactionId}/transactionItems':
    parameters:
      - name: WebOpsTransactionId
        in: path
        required: true
        type: string
    post:
      operationId: transaction_items_create
      summary: Create Transaction items
      tags:
        - Transactions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/transaction-items-post'
            description: Transaction Items
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual transaction items from the request.
                items:
                  type: object
                  required:
                    - transactionItemId
                    - catalogNumber
                    - code
                    - message
                  properties:
                    transactionItemId:
                      type: integer
                      description: WebOps transaction item ID
                      format: int64
                      example: 34088
                    catalogNumber:
                      type: string
                      description: Transaction item catalog number
                      example: 02-354-TEMP
                    code:
                      type: integer
                      description: One of the defined response codes
                      example: 1010
                    message:
                      type: string
                      description: Status Message
                      example: Success
    put:
      operationId: transaction_items_update
      summary: Update Transaction Items
      tags:
        - Transactions (1.0)
      description: "## New Endpoint (8.1.0)\r\n\r\n### Endpoint Changes\r\n\r\n#### Request\r\n- No changes\r\n\r\n#### Response\r\n- No changes"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/transaction-items-update'
            description: Transaction Items
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
            properties:
              messageId:
                type: string
                description: Message ID of the request
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
              timestamp:
                type: string
                description: Current date/time in ISO-8601 Z format
                format: date-time
                example: '2018-11-05T13:15:30Z'
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual transaction items from the request.
                items:
                  type: object
                  required:
                    - transactionItemId
                    - catalogNumber
                    - code
                    - message
                  properties:
                    transactionItemId:
                      type: integer
                      description: WebOps transaction item ID
                      format: int64
                      example: 34088
                    catalogNumber:
                      type: string
                      description: Transaction item catalog number
                      example: 02-354-TEMP
                    code:
                      type: integer
                      description: One of the defined response codes
                      example: 1010
                    message:
                      type: string
                      description: Status Message
                      example: Success
parameters:
  'trait:messageHeaders:Authorization':
    name: Authorization
    in: header
    description: 'Base64(UserName:Password)'
    required: true
    type: string
  'trait:messageHeaders:Access_token':
    name: Access_token
    in: header
    description: '{Access_Token} from token inbound service'
    required: true
    type: string
responses:
  'trait:errorResponses:403':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: '1105'
        message:
          type: string
          description: Error message description
          example: Call limit is reached
  'trait:errorResponses:422':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: 1020-1040
        message:
          type: string
          description: Error message description
          example: Invalid parameter
  'trait:errorResponses:500':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: '1100'
        message:
          type: string
          description: Error message description
          example: An unexpected server error occurred while processing the request
definitions:
  case-additional-entities-2:
    title: Case - Additional Entities v2
    type: object
    properties:
      includeUsage:
        type: boolean
        description: 'Include usage details in response - Default = false (Yes = true, False = false)'
        example: true
      includeProductSystems:
        type: boolean
        description: 'Include product system details in response- Default = false (Yes = true, False = false)'
        example: true
      includeRemovedProductSystems:
        type: boolean
        description: 'Include product system details that have been removed from the case in the response- Default = false (Yes = true, No = false)'
        example: true
      includeUnAssignedKitFamilies:
        type: boolean
        description: 'Include unassigned kits in response - Default = false (Yes = true, False = false)'
        example: true
      includePickLists:
        type: boolean
        description: 'Include pick lists in response - Default = false (Yes = true, No = false)'
        example: true
      includeCustomKits:
        type: boolean
        description: 'Include custom kits in response - Default = false (Yes = true, No = false)'
        example: true
  case-cancel-response-u:
    title: Case - Cancel Response (Upcoming)
    type: object
    properties:
      branchId:
        type: integer
        description: ID of the branch
        format: int64
        example: 123
      branchErpCode:
        type: string
        description: Branch ERP Code
        example: ERP123
        maxLength: 50
      id:
        type: integer
        description: WebOps Case ID
        format: int64
        example: 123
      encryptedWebOpsCaseId:
        type: string
        description: Encrypted WebOps Case ID
        format: string
        example: ei9T7TW1ZRx6syq4cjNQbA%3D%3D
      externalCaseId:
        type: string
        description: Customer ID of surgical case
        format: string
        example: EX123
        maxLength: 32
      surgeryDate:
        type: string
        description: Surgery date in 24 hour format. Must be a local time zone value.
        format: date-time
        example: '2018-11-05 13:15'
      caseType:
        type: string
        description: Type of the case
        enum:
          - Standard
          - Add On
        example: Standard
      caseIdentifier:
        type: string
        description: String for Rep to differentiate case from other similar cases.
        format: string
        example: CS-123
      salesRepId:
        type: integer
        description: Case sales rep ID
        format: int64
        example: 123
      salesRepErpCode:
        type: string
        description: Sales rep ERP code
        example: ERP123SR
        maxLength: 50
      coverageRepId:
        type: integer
        description: Case coverage rep ID
        format: int64
        example: 1234
      coverageRepErpCode:
        type: string
        description: Coverage rep ERP code
        example: ERP123CR
        maxLength: 50
      physicianId:
        type: integer
        description: Case physician ID
        format: int64
        example: 10011
      physicianErpCode:
        type: string
        description: Physician ERP code
        example: ERP123-PHY
        maxLength: 50
      hospitalId:
        type: integer
        description: Case hospital ID
        format: int64
        example: 50010
      hospitalErpCode:
        type: string
        description: 'Hospital ERP Code (Bill To or Account #)'
        example: ERP123-HOS
        maxLength: 50
      procedureId:
        type: integer
        description: Case procedure ID
        format: int64
        example: 25
      procedureCompanyId:
        type: integer
        description: Company ID linked to Procedure
        format: int64
        example: 9
      caseStatus:
        type: string
        description: Case status
        enum:
          - New
          - Kits Assigned
          - Assembled
          - Shipped
          - Returned
          - Checked-In
          - Reconciled
          - Closed
          - Cancelled
        example: New
      purchaseOrderNumber:
        type: string
        description: Case purchase order
        example: PONumber123
        maxLength: 50
      confirmed:
        type: boolean
        description: 'Has the case been confirmed? (Yes = true, No = false)'
        example: true
      assembled:
        type: boolean
        description: 'Has the case been assembled? (Yes = true, No = false)'
        example: true
      freight:
        type: number
        format: float
        description: Case freight value
        example: 100
      billingOrderNumber:
        type: string
        description: Case billing order number
        example: 12345-BO
        maxLength: 50
      replenishmentOrderNumber:
        type: string
        description: 'Case replenishment order number '
        example: 12345-RO
        maxLength: 50
      usageReceived:
        type: boolean
        description: 'Has the case usage been received? (Yes = true, No = false)'
        example: true
      usageReordered:
        type: boolean
        description: 'Has the case usage been reordered? (Yes = true, No = false)'
        example: true
      usageCompleted:
        type: boolean
        description: 'Has the case usage been completed? (Yes = true, No = false)'
        example: true
      patientGender:
        type: string
        description: Patient Gender
        enum:
          - Male
          - Female
        example: Male
      patientAge:
        type: integer
        description: Patient age
        example: 40
      caseBilled:
        type: boolean
        description: 'Has the case been billed? (Yes = true, No = false)'
        example: true
      revisionSurgery:
        type: boolean
        description: 'Is this a revision surgery? (Yes = true, No = false)'
        example: true
      revisionReasonId:
        type: integer
        description: Revision reasonsing Id
        format: int64
        example: 123
      primaryInvoiceType:
        type: string
        description: Case primary invoice type
        enum:
          - Hospital
          - Insurance
          - COD
        example: Hospital
      caseApprovalType:
        type: string
        description: Case approval type
        enum:
          - Approved
          - Pending
        example: Pending
      insuranceCompanyId:
        type: integer
        format: int64
        description: Case Insurance Company Id
        example: 123
      cashOnDeliveryNumber:
        type: string
        description: Cash On delivery Number for the case
        example: COD 5890
        maxLength: 150
      specialInstructions:
        type: string
        description: Case special instructions
        example: Please handle it carefully
        maxLength: 500
      caseNotes:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: WebOps Case Note ID
              format: int64
              example: 123
            note:
              type: string
              description: Case note text
              example: Additional notes or comments
              maxLength: 4000
            changedDate:
              type: string
              description: Last changed date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
      surgeryEntryFormComments:
        type: string
        description: Case surgery entry form comments
        example: SEF comments
        maxLength: 100
      salesOrderFormComments:
        type: string
        description: Case sales order form comments
        example: SOF comments
        maxLength: 150
      pickStatusType:
        type: string
        description: Case pick status type
        enum:
          - None
          - One or more
          - All
        example: None
      pickPackingNotes:
        type: string
        description: Case sales order form comments
        example: Pick packing notes
        maxLength: 100
      caseCancellationType:
        type: string
        description: Case cancellation type for cases with CANCELLED status
        enum:
          - Not Specified
          - Product Recall
          - Patient Conditions
          - Insurance Not Approved
          - Medical Office Cancel Surgery
          - Surgery Postponed Without Date
          - No Usage Registered
          - Competitors Product Preferred
          - Used Hospital Inventory
          - Instruments Not Available
          - Implants Not Available
          - Technical Representative Not Available
          - Customer Credit Block
          - Delivery Issues
          - Duplicate Order
          - Pricing not established
          - Duplicated Surgery
          - System Issues
          - Insufficient Funding
        example: Duplicated Surgery
      createdDate:
        type: string
        description: Created date and time in ISO 8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      changedBy:
        type: string
        description: Name of the user who last changed the case
        example: John Doe
        maxLength: 101
      changedDate:
        type: string
        description: Last changed date and time in ISO 8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      timezone:
        type: string
        description: Last changed date time zone
        example: America/New_York
        maxLength: 50
      shippingInstructions:
        type: array
        items:
          type: object
          properties:
            shipToAddressId:
              type: integer
              description: Shipping instructions address ID
              format: int64
              example: 34088
            shippingMethodId:
              type: integer
              description: Shipping instructions shipping method ID
              format: int64
              example: 25
            attention:
              type: string
              description: Shipping instructions attention
              example: Attention field
              maxLength: 50
            arriveByDate:
              type: string
              description: Shipping instructions arrive by date in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
      productSystems:
        type: array
        items:
          type: object
          properties:
            productSystemId:
              type: integer
              description: Product system ID
              format: int64
              example: 45678
            companyId:
              type: integer
              description: Company ID linked to Product System
              format: int64
              example: 9
            additionalSpecifications:
              type: string
              description: Product system additional specifications
              example: Additional specifications
              maxLength: 255
            kitFamilies:
              type: array
              items:
                type: object
                properties:
                  kitFamilyId:
                    type: integer
                    description: kit family ID
                    format: int64
                    example: 45678
                  kitId:
                    type: integer
                    description: Kit ID
                    format: int64
                    example: 45678
                  kitComplete:
                    type: boolean
                    description: '(Yes = true, No = false)'
                    example: true
                  kitStatus:
                    type: string
                    description: kit status
                    enum:
                      - In Warehouse
                      - In Field
                      - Transferred
                      - Pending Receipt
                      - Quarantine
                    example: In Warehouse
                  caseKitStatus:
                    type: string
                    description: case kit status
                    enum:
                      - Not Assigned
                      - Assigned
                      - Outbound
                      - At Location
                      - Inbound
                      - Returned
                      - Checked In
                      - Reconciled
                    example: Not Assigned
                  kitProcessStatus:
                    type: string
                    description: Kit process status
                    enum:
                      - Inspection
                      - Cleaning
                      - Repair
                      - Upgrade
                      - Scrap
                      - Downgrade
                      - Post-Cleaning Inspection
                      - Ready
                    example: Inspection
                required:
                  - kitFamilyId
                  - caseKitStatus
          required:
            - productSystemId
      inventoryItems:
        type: array
        items:
          type: object
          properties:
[...]
