swagger: '2.0'
info:
  title: v1
  version: '1.0'
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /catalogItems:
    post:
      operationId: catalog_items
      summary: Get Catalog Items
      
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/catalogItems/catalog-item-identifiers-1.yaml
              - $ref: ../../common/updated.yaml
              - $ref: ../../common/paging.yaml
            description: Catalog Items
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - catalogItem
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              catalogItem:
                type: array
                items:
                  $ref: ../../docs/catalogItems/catalog-item-1.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
    put:
      operationId: catalogItems(PUT)
      summary: Update Catalog Items
      
      parameters:
        - name: body
          in: body
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - manufacturerId
              - items
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              manufacturerId:
                type: integer
                description: Designated manufacturer ID
                format: int64
                example: 1234
              items:
                type: array
                items:
                  $ref: ../../docs/catalogItems/catalog-item-put-1.yaml
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                items:
                  $ref: ../../docs/catalogItems/line-detail-cat-1.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  /catalogItems/count:
    post:
      operationId: catalog_items_count
      summary: Get a Count of Catalog Items
      
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/catalogItems/catalog-item-identifiers-1.yaml
              - $ref: ../../common/updated.yaml
            description: Catalog Items
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            $ref: ../../common/responses/count.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  /catalogItems/bulk:
    post:
      operationId: catalog_items_bulk
      summary: Create Catalog Items in Bulk
      
      parameters:
        - name: body
          in: body
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              manufacturerId:
                type: integer
                description: Designated manufacturer ID
                format: int64
                example: 1234
              items:
                type: array
                items:
                  $ref: ../../docs/catalogItems/catalog-item-post-1.yaml
            required:
              - messageId
              - timestamp
              - manufacturerId
              - items
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                items:
                  $ref: ../../docs/catalogItems/line-detail-cat-1.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml