swagger: '2.0'
info:
  title: v1
  version: '1.0'
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /kits:
    post:
      operationId: get-kits
      summary: Get Kits
      
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/kits/kit-identifiers-1.yaml
              - $ref: ../../common/updated.yaml
              - $ref: ../../common/paging.yaml
              - type: object
                properties:
                  includeItemDetails:
                    type: boolean
                    example: true
                    description: 'Include kit details in response - Default = false (Yes = true, No = false)'
            description: Kits
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              kits:
                type: array
                items:
                  $ref: ../../docs/kits/kit-1.yaml
            required:
              - messageId
              - timestamp
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  /kits/count:
    post:
      operationId: kits_count
      summary: Get total number of kits per defined parameters. Must be used in conjunction with /kits
      
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/kits/kit-identifiers-1.yaml
              - $ref: ../../common/updated.yaml
            description: Kits
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            $ref: ../../common/responses/count.yaml
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
  /kits/bulk:
    post:
      operationId: kits-bulk-post
      summary: Create Kits in Bulk
      
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/kits/kit-bulk-post-identifiers-1.yaml
            description: Kit Families
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual kits from the request.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: 'ID of the kit. If an error occurred during save, the ID will not be returned.'
                      format: int64
                      example: 123
                    name:
                      type: string
                      description: Kit name
                      example: ABC Kit
                      maxLength: 100
                    code:
                      type: integer
                      description: One of the defined response codes
                      example: 1010
                    message:
                      type: string
                      description: Status Message
                      example: Success
                  required:
                    - id
                    - name
                    - code
                    - message
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml
    put:
      operationId: kits-bulk-put
      summary: Update Kits in Bulk
      
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: ../../common/message-data.yaml
              - $ref: ../../docs/kits/kit-bulk-put-identifiers-1.yaml
            description: Kits
        - $ref: ../../common/headers/authorization.yaml
        - $ref: ../../common/headers/access-token.yaml
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              code:
                type: integer
                description: One the defined response codes
                example: 1010
              message:
                type: string
                description: Text description
                example: Partial Success
              details:
                type: array
                description: Status of individual kits from the request.
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: 'ID of the kit. If an error occurred during save, the ID will not be returned.'
                      format: int64
                      example: 123
                    name:
                      type: string
                      description: Kit name
                      example: ABC Kit
                      maxLength: 100
                    code:
                      type: integer
                      description: One of the defined response codes
                      example: 1010
                    message:
                      type: string
                      description: Status Message
                      example: Success
                  required:
                    - id
                    - name
                    - code
                    - message
            required:
              - messageId
              - timestamp
              - code
              - message
              - details
        '403':
          description: ''
          schema:
            $ref: ../../common/responses/error-403.yaml
        '422':
          description: ''
          schema:
            $ref: ../../common/responses/error-422.yaml
        '500':
          description: ''
          schema:
            $ref: ../../common/responses/error-500.yaml