swagger: '2.0'
info:
  version: '2.0'
  title: WebOps API
  description: ''
host: stagingapi.webops.net/api
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /cases:
    post:
      operationId: cases
      summary: Get Cases
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-identifiers-2'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/case-surgery-date-2'
              - $ref: '#/definitions/paging'
              - $ref: '#/definitions/case-additional-entities-2'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-2'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  /cases/count:
    post:
      operationId: cases_count
      summary: Get total number of cases per defined parameters. Must be used in conjunction with /cases.
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-identifiers-2'
              - $ref: '#/definitions/updated'
              - $ref: '#/definitions/case-surgery-date-2'
            description: Branches
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/count'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
      x-internal: true
  /case:
    post:
      operationId: case
      summary: Create Case
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-post-2'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-no-usage-2'
            required:
              - messageId
              - timestamp
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  '/case/{WebOpsCaseId}':
    parameters:
      - name: WebOpsCaseId
        in: path
        required: true
        type: string
    put:
      operationId: 'case/{WebOpsCaseId}'
      summary: Update Case
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-update-2'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-2'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
  '/case/{WebOpsCaseId}/cancel':
    parameters:
      - name: WebOpsCaseId
        in: path
        required: true
        type: string
    put:
      operationId: 'case/{WebOpsCaseId}/cancel'
      summary: Cancel Case
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: body
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/message-data'
              - $ref: '#/definitions/case-cancel-2'
            description: Cases
        - $ref: '#/parameters/trait:messageHeaders:Authorization'
        - $ref: '#/parameters/trait:messageHeaders:Access_token'
      responses:
        '200':
          description: ''
          schema:
            type: object
            required:
              - messageId
              - timestamp
            properties:
              messageId:
                type: string
                example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
                description: Message ID of the request
              timestamp:
                type: string
                format: date-time
                example: '2018-11-05T13:15:30Z'
                description: Current date/time in ISO-8601 Z format
              cases:
                type: array
                items:
                  $ref: '#/definitions/case-2'
        '403':
          $ref: '#/responses/trait:errorResponses:403'
        '422':
          $ref: '#/responses/trait:errorResponses:422'
        '500':
          $ref: '#/responses/trait:errorResponses:500'
parameters:
  'trait:messageHeaders:Authorization':
    name: Authorization
    in: header
    description: 'Base64(UserName:Password)'
    required: true
    type: string
  'trait:messageHeaders:Access_token':
    name: Access_token
    in: header
    description: '{Access_Token} from token inbound service'
    required: true
    type: string
responses:
  'trait:errorResponses:403':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: 1105
        message:
          type: string
          description: Error message description
          example: Call limit is reached
  'trait:errorResponses:422':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: 1020-1040
        message:
          type: string
          description: Error message description
          example: Invalid parameter
  'trait:errorResponses:500':
    description: ''
    schema:
      type: object
      required:
        - messageId
        - timestamp
        - code
        - message
      properties:
        messageId:
          type: string
          description: Message ID of the request
          example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        timestamp:
          type: string
          description: Current date/time in ISO-8601 Z format
          format: date-time
          example: '2018-11-05T13:15:30Z'
        code:
          type: integer
          description: Error code
          example: 1100
        message:
          type: string
          description: Error message description
          example: An unexpected server error occurred while processing the request
definitions:
  case-additional-entities-2:
    title: Case - Additional Entities v2
    type: object
    properties:
      includeUsage:
        type: boolean
        description: 'Include usage details in response - Default = false (Yes = true, False = false)'
        example: true
      includeProductSystems:
        type: boolean
        description: 'Include product system details in response- Default = false (Yes = true, False = false)'
        example: true
      includeRemovedProductSystems:
        type: boolean
        description: 'Include product system details that have been removed from the case in the response- Default = false (Yes = true, No = false)'
        example: true
      includeUnAssignedKitFamilies:
        type: boolean
        description: 'Include unassigned kits in response - Default = false (Yes = true, False = false)'
        example: true
      includePickLists:
        type: boolean
        description: 'Include pick lists in response - Default = false (Yes = true, No = false)'
        example: true
      includeCustomKits:
        type: boolean
        description: 'Include custom kits in response - Default = false (Yes = true, No = false)'
        example: true
    x-internal: true
  case-cancel-2:
    title: Case - Cancel v2
    type: object
    required:
      - messageId
      - timestamp
      - manufacturerId
      - branchId
      - caseCancellationType
    properties:
      manufacturerId:
        type: integer
        description: Designated manufacturer Id
        format: int64
        example: '1234'
      branchId:
        type: integer
        description: 'Designated branch ID. Either branchId or branchErpCode is required. If both branchId and branchErpCode are provided, branchId will be used.'
        format: int64
        example: '9'
      branchErpCode:
        type: string
        description: 'Branch ERP Code. Either branchId or branchErpCode is required. If both branchErpCode and branchId are provided, branchId will be used.'
        example: ERP123
        maxLength: 50
      caseCancellationType:
        type: string
        description: Case cancellation type for cases with CANCLLED status
        enum:
          - Not Specified
          - Product Recall
          - Patient Conditions
          - Insurance Not Approved
          - Medical Office Cancel Surgery
          - Surgery Postponed Without Date
          - No Usage Registered
          - Competitors Product Preferred
          - Used Hospital Inventory
          - Instruments Not Available
          - Implants Not Available
          - Technical Representative Not Available
          - Customer Credit Block
          - Delivery Issues
          - Duplicate Order
          - Pricing not established
          - Duplicated Surgery
          - System Issues
          - Insufficient Funding
      userName:
        type: string
        description: User name for history records
        example: John Doe
        maxLength: 50
    x-internal: true
  case-identifiers-2:
    title: Case Identifiers v2
    type: object
    properties:
      manufacturerId:
        type: integer
        description: Designated manufacturer ID
        format: int64
        example: 1234
      branchId:
        type: integer
        description: 'Designated branch ID. If both branchId and branchErpCode are provided, branchId will be used.'
        format: int64
        example: 9
      branchErpCode:
        type: string
        description: 'Branch ERP Code. If both branchErpCode and branchId are provided, branchId will be used.'
        example: ERP123
        maxLength: 50
      ids:
        type: string
        description: Comma-separated list of case IDs; max length of 100 IDs
        example: '12346, 45678, 123453'
      externalCaseIds:
        type: string
        description: Comma-separated list of external case IDs
        example: '12346, 45678, 123453'
        maxLength: 500
      caseType:
        type: string
        description: Case type
        enum:
          - Standard
          - Add On
        example: Standard
      caseStatuses:
        type: string
        description: Case status
        enum:
          - New
          - Kits Assigned
          - Assembled
          - Shipped
          - Returned
          - Checked-In
          - Reconciled
          - Closed
          - Cancelled
        example: New
      purchaseOrderReceived:
        type: boolean
        description: 'Case purchase order received -  (Yes = true, False = false)'
        example: true
      confirmed:
        type: boolean
        description: 'Case confirmed - (Yes = true, False = false)'
        example: true
      approved:
        type: boolean
        description: 'Case approved - (Yes = true, False = false)'
        example: true
      billed:
        type: boolean
        description: 'Case billed - (Yes = true, False = false)'
        example: true
      purchaseOrderNumber:
        type: string
        description: Case purchase order number
        example: Case12346-PO
        maxLength: 50
      billingOrderNumber:
        type: string
        description: Case billing order number
        example: Case12346-BO
        maxLength: 50
      replenishmentOrderNumber:
        type: string
        description: Case replenishment order number
        example: Case12346-RO
        maxLength: 50
      usageReceived:
        type: boolean
        description: 'Case usage received - (Yes = true, False = false)'
        example: true
      usageCompleted:
        type: boolean
        description: 'Case usage completed - (Yes = true, False = false)'
        example: true
      hospitalType:
        type: string
        description: Case status
        enum:
          - All
          - State
          - Private
        example: All
    x-internal: true
  case-no-usage-2:
    title: Case - No Usage v2
    type: object
    properties:
      branchId:
        type: integer
        description: 'Designated branch ID. Either branchId or branchErpCode is required. If both branchId and branchErpCode are provided, branchId will be used.'
        format: int64
        example: 123
      branchErpCode:
        type: string
        description: 'Branch ERP Code. Either branchId or branchErpCode is required. If both branchErpCode and branchId are provided, branchId will be used'
        example: ERP123
        maxLength: 50
      id:
        type: integer
        description: WebOps Case ID
        format: int64
        example: 123
      encryptedWebOpsCaseId:
        type: string
        description: Encrypted WebOps Case ID
        format: string
        example: ei9T7TW1ZRx6syq4cjNQbA%3D%3D
      externalCaseId:
        type: string
        description: Customer ID of surgical case
        format: string
        example: EX123
        maxLength: 32
      surgeryDate:
        type: string
        description: Surgery date in 24 hour format. Must be a local time zone value.
        format: date-time
        example: '2018-11-05 13:15'
      caseType:
        type: string
        description: Type of the case
        enum:
          - Standard
          - Add On
        example: Standard
      caseIdentifier:
        type: string
        description: String for Rep to differentiate case from other similar cases.
        format: string
        example: CS-123
      salesRepId:
        type: integer
        description: Case sales rep ID
        format: int64
        example: 123
      salesRepErpCode:
        type: string
        description: Sales rep ERP code
        example: ERP123SR
        maxLength: 50
      coverageRepId:
        type: integer
        description: Case coverage rep ID
        format: int64
        example: 1234
      coverageRepErpCode:
        type: string
        description: Coverage rep ERP code
        example: ERP123CR
        maxLength: 50
      physicianId:
        type: integer
        description: Case physician ID
        format: int64
        example: 10011
      physicianErpCode:
        type: string
        description: Physician ERP code
        example: ERP123-PHY
        maxLength: 50
      hospitalId:
        type: integer
        description: Case hospital ID
        format: int64
        example: 50010
      hospitalErpCode:
        type: string
        description: 'Hospital ERP Code (Bill To or Account #)'
        example: ERP123-HOS
        maxLength: 50
      procedureId:
        type: integer
        description: Case procedure ID
        format: int64
        example: 25
      caseStatus:
        type: string
        description: Case status
        enum:
          - New
          - Kits Assigned
          - Assembled
          - Shipped
          - Returned
          - Checked-In
          - Reconciled
          - Closed
          - Cancelled
        example: New
      purchaseOrderNumber:
        type: string
        description: Case purchase order
        example: PONumber123
        maxLength: 50
      confirmed:
        type: boolean
        description: 'Has the case been confirmed? (Yes = true, No = false)'
        example: true
      assembled:
        type: boolean
        description: 'Has the case been assembled? (Yes = true, No = false)'
        example: true
      freight:
        type: number
        format: float
        description: Case freight value
        example: 100
      billingOrderNumber:
        type: string
        description: Case billing order number
        example: 12345-BO
        maxLength: 50
      replenishmentOrderNumber:
        type: string
        description: 'Case replenishment order number '
        example: 12345-RO
        maxLength: 50
      usageReceived:
        type: boolean
        description: 'Has the case usage been received? (Yes = true, No = false)'
        example: true
      usageReordered:
        type: boolean
        description: 'Has the case usage been reordered? (Yes = true, No = false)'
        example: true
      usageCompleted:
        type: boolean
        description: 'Has the case usage been completed? (Yes = true, No = false)'
        example: true
      patientGender:
        type: string
        description: Patient Gender
        enum:
          - Male
          - Female
        example: Male
      patientAge:
        type: integer
        description: Patient age
        example: 40
      caseBilled:
        type: boolean
        description: 'Has the case been billed? (Yes = true, No = false)'
        example: true
      revisionSurgery:
        type: boolean
        description: 'Is this a revision surgery? (Yes = true, No = false)'
        example: true
      revisionReasonId:
        type: integer
        description: Revision reasonsing Id
        format: int64
        example: 123
      primaryInvoiceType:
        type: string
        description: Case primary invoice type
        enum:
          - Hospital
          - Insurance
          - COD
        example: Hospital
      caseApprovalType:
        type: string
        description: Case approval type
        enum:
          - Approved
          - Pending
        example: Pending
      insuranceCompanyId:
        type: integer
        format: int64
        description: Case Insurance Company Id
        example: 123
      cashOnDeliveryNumber:
        type: string
        description: Cash On delivery Number for the case
        example: COD 5890
        maxLength: 150
      specialInstructions:
        type: string
        description: Case special instructions
        example: Please handle it carefully
        maxLength: 500
      caseNotes:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: WebOps Case Note ID
              format: int64
              example: 123
            note:
              type: string
              description: Case note text
              example: Additional notes or comments
              maxLength: 4000
            changedDate:
              type: string
              description: Last changed date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
      surgeryEntryFormComments:
        type: string
        description: Case surgery entry form comments
        example: SEF comments
        maxLength: 100
      salesOrderFormComments:
        type: string
        description: Case sales order form comments
        example: SOF comments
        maxLength: 150
      pickStatusType:
        type: string
        description: Case pick status type
        enum:
          - None
          - One or more
          - All
        example: None
      pickPackingNotes:
        type: string
        description: Case sales order form comments
        example: Pick packing notes
        maxLength: 100
      caseCancellationType:
        type: string
        description: Case cancellation type for cases with CANCELLED status
        enum:
          - Not Specified
          - Product Recall
          - Patient Conditions
          - Insurance Not Approved
          - Medical Office Cancel Surgery
          - Surgery Postponed Without Date
          - No Usage Registered
          - Competitors Product Preferred
          - Used Hospital Inventory
          - Instruments Not Available
          - Implants Not Available
          - Technical Representative Not Available
          - Customer Credit Block
          - Delivery Issues
          - Duplicate Order
          - Pricing not established
          - Duplicated Surgery
          - System Issues
          - Insufficient Funding
        example: Duplicated Surgery
      createdDate:
        type: string
        description: Created date and time in ISO 8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      changedBy:
        type: string
        description: Name of the user who last changed the case
        example: John Doe
        maxLength: 101
      changedDate:
        type: string
        description: Last changed date and time in ISO 8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      timezone:
        type: string
        description: Last changed date time zone
        example: America/New_York
        maxLength: 50
      shippingInstructions:
        type: array
        items:
          type: object
          properties:
            shipToAddressId:
              type: integer
              description: Shipping instructions address ID
              format: int64
              example: 34088
            shippingMethodId:
              type: integer
              description: Shipping instructions shipping method ID
              format: int64
              example: 25
            attention:
              type: string
              description: Shipping instructions attention
              example: Attention field
              maxLength: 50
            arriveByDate:
              type: string
              description: Shipping instructions arrive by date in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
          required:
            - shipToAddressId
            - shippingMethodId
      productSystems:
        type: array
        items:
          type: object
          properties:
            productSystemId:
              type: integer
              description: Product system ID
              format: int64
              example: 45678
            additionalSpecifications:
              type: string
              description: Product system additional specifications
              example: Additional specifications
              maxLength: 255
            kitfamilies:
              type: array
              items:
                type: object
                properties:
                  kitFamilyId:
                    type: integer
                    description: kit family ID
                    format: int64
                    example: 45678
                  kitId:
                    type: integer
                    description: Kit ID
                    format: int64
                    example: 45678
                  kitComplete:
                    type: boolean
                    description: '(Yes = true, No = false)'
                    example: true
                  kitStatus:
                    type: string
                    description: kit status
                    enum:
                      - In Warehouse
                      - In Field
                      - Transferred
                      - Pending Receipt
                      - Quarantine
                    example: In Warehouse
                  caseKitStatus:
                    type: string
                    description: case kit status
                    enum:
                      - Not Assigned
                      - Assigned
                      - Outbound
                      - At Location
                      - Inbound
                      - Returned
                      - Checked In
                      - Reconciled
                    example: Not Assigned
                  kitProcessStatus:
                    type: string
                    description: Kit process status
                    enum:
                      - Inspection
                      - Cleaning
                      - Repair
                      - Upgrade
                      - Scrap
                      - Downgrade
                      - Post-Cleaning Inspection
                      - Ready
                    example: Inspection
                required:
                  - kitFamilyId
                  - caseKitStatus
          required:
            - productSystemId
      inventoryItems:
        type: array
        description: Requested inventory items
        items:
          type: object
          required:
            - inventoryItemId
            - catalogNumber
            - quantity
          properties:
            inventoryItemId:
              type: integer
              description: Inventory Item Id
              format: int64
              example: '1696799083'
            catalogNumber:
              type: string
              description: Catalog Number
              example: Z01-109-0-008
            quantity:
              type: integer
              description: Inventory Item Quantity
              format: int64
              example: '1'
    required:
      - branchId
      - id
      - surgeryDate
      - caseType
      - salesRepId
      - physicianId
      - hospitalId
      - procedureId
    x-internal: true
  case-post-2:
    title: Case - Post v2
    type: object
    properties:
      manufacturerId:
        type: integer
        description: Designated manufacturer ID
        format: int64
        example: 1234
      branchId:
        type: integer
        description: Designated branch ID
        format: int64
        example: 9
      externalCaseId:
        type: string
        description: Customer ID of surgical case
        format: string
        example: EX123
        maxLength: 32
      caseIdentifier:
        type: string
        description: String for Rep to differntiate case from other similar cases.
        format: string
        example: CS-123
        maxLength: 100
      isLoaner:
        type: boolean
        description: 'If true, the case will be posted as a loaner case, even with no product systems provided. Providing product systems will ignore this field make the case a loaner case.'
        example: true
      caseType:
        type: string
        description: Case type
        enum:
          - Standard
          - Add On
        example: Standard
      surgeryDate:
        type: string
        description: Surgery date in 24 hour format. Must be a local time zone value.
        format: date-time
        example: '2018-11-05 13:15'
      salesRepId:
        type: integer
        description: Sales Rep ID of the case
        format: int64
        example: 123
      coverageRepId:
        type: integer
        description: Coverage Rep ID of the case
        format: int64
        example: 1234
      physicianId:
        type: integer
        description: Physician ID of the case
        format: int64
        example: 10011
      hospitalId:
        type: integer
        description: Hospital ID of the case
        format: int64
        example: 50010
      procedureId:
        type: integer
        description: Procedure ID of the case
        format: int64
        example: 25
      specialInstructions:
        type: string
        description: Special instructions for the case
        example: Please handle it carefully
        maxLength: 500
      caseNotes:
        type: array
        items:
          type: object
          properties:
            note:
              type: string
              description: Case note text
              example: Additional notes or comments
              maxLength: 4000
      patientGender:
        type: string
        description: Patient Gender
        enum:
          - Male
          - Female
        example: Male
      patientAge:
        type: integer
        description: Patient age
        example: 40
      revisionSurgery:
        type: boolean
        description: 'Is this a revision surgery? (Yes = true, No = false). If revision surgery = true, revision reason id is required.'
        example: true
      revisionReasonId:
        type: integer
        description: Revision reason ID
        format: int64
        example: 123
      usePhysicianPref:
        type: boolean
        description: '(Yes = true, No = false) <hr/> If preference doesn''t exist, preference will be created.<br/> If preference exists and product systems are selected, preference will be updated to those product systems.<br/> If preference exists and no product systems are selected, the preference will be deleted.'
        example: true
      userName:
        type: string
        description: User name for history records
        example: John Doe
        maxLength: 50
      shippingInstructions:
        type: array
        items:
          type: object
          properties:
            shipToAddressId:
              type: integer
              description: Shipping instructions address ID
              format: int64
              example: 34088
            shippingMethodId:
              type: integer
              description: Shipping instructions shipping method ID
              format: int64
              example: 25
            attention:
              type: string
              description: Shipping instructions attention
              example: Attention field
              maxLength: 50
            arriveByDate:
              type: string
              description: Shipping instructions arrive by date in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
          required:
            - shipToAddressId
            - shippingMethodId
      productSystems:
        type: array
        description: 'If no product systems included and isLoaner is false or not provided, the case will be posted in ''Reconciled'' status.'
        items:
          type: object
          properties:
            productSystemId:
              type: integer
              description: Product system ID
              format: int64
              example: 45678
            additionalSpecifications:
              type: string
              description: Product system additional specifications
              example: Attention field
              maxLength: 255
          required:
            - productSystemId
      inventoryItems:
        type: array
        description: Requested inventory items
        items:
          type: object
          required:
            - catalogNumber
            - quantity
          properties:
            catalogNumber:
              type: string
              description: Catalog Number
              example: Z01-109-0-008
            quantity:
              type: integer
              description: Inventory Item Quantity
              format: int64
              example: 1
    required:
      - manufacturerId
      - branchId
      - externalCaseId
      - caseType
      - surgeryDate
      - salesRepId
      - physicianId
      - hospitalId
      - procedureId
    x-internal: true
  case-surgery-date-2:
    title: Case - Surgery Date v2
    type: object
    properties:
      surgeryDateMin:
        type: string
        description: Get cases after this surgery date (in 24 hour format)
        format: date-time
        example: '2017-11-05 13:15'
      surgeryDateMax:
        type: string
        description: Get cases before this surgery date (in 24 hour format)
        format: date-time
        example: '2017-11-05 13:15'
    x-internal: true
  case-update-2:
    title: Case - Update v2
    type: object
    required:
      - messageId
      - timestamp
      - manufacturerId
      - branchId
    properties:
      messageId:
        type: string
        description: message Id
        format: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
      timestamp:
        type: string
        description: Current date/time in ISO-8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      manufacturerId:
        type: integer
        description: Designated manufacturer Id
        format: int64
        example: '1234'
      branchId:
        type: integer
        description: Designated branch Id
        format: int64
        example: '9'
      caseIdentifier:
        type: string
        description: String for Rep to differntiate case from other similar cases.
        format: string
        example: CS-123
        maxLength: 100
      caseType:
        type: string
        description: Case type
        enum:
          - Standard
          - Add On
        example: Standard
      surgeryDate:
        type: string
        description: Surgery date in 24 hour format. Must be a local time zone value.
        format: date-time
        example: '2018-11-05 13:15'
      salesRepId:
        type: integer
        description: 'Sales Rep ID of the case. If the case is not in New, Assigned, or Assembled status, the salesRepId will not be editable.'
        format: int64
        example: 123
      coverageRepId:
        type: integer
        description: 'Coverage Rep ID of the case. If the case is not in New, Assigned, or Assembled status, the coverageRepId will not be editable.'
        format: int64
        example: 1234
      physicianId:
        type: integer
        description: 'Physician ID of the case. If the case is not in New, Assigned, or Assembled status, the physicianId will not be editable.'
        format: int64
        example: 10011
      hospitalId:
        type: integer
        description: 'Hospital ID of the case. If the case is not in New, Assigned, or Assembled status, the hospitalId will not be editable.'
        format: int64
        example: 50010
      procedureId:
        type: integer
        description: 'Procedure ID of the case. If the case is not in New or Reconciled status, the procedureId will not be editable. Changing the procedureId will remove existing product systems from the case.'
        format: int64
        example: 25
      patientGender:
        type: string
        description: Patient Gender
        enum:
          - Male
          - Female
        example: Male
      patientAge:
        type: integer
        description: Patient age
        example: '40'
      purchaseOrderNumber:
        type: string
        description: Case purchase order
        example: PONumber123
        maxLength: 50
      billingOrderNumber:
        type: string
        description: Case billing order number
        example: 12345-BO
        maxLength: 50
      replenishmentOrderNumber:
        type: string
        description: 'Case replenishment order number '
        example: 12345-RO
        maxLength: 50
      revisionSurgery:
        type: boolean
        description: 'Is this a revision surgery? (Yes = true, No = false). If revision surgery = true, revision reason id is required.'
        example: true
      revisionReasonId:
        type: integer
        description: Revision reason ID
        format: int64
        example: 123
      primaryInvoiceType:
        type: string
        description: Case primary invoice type
        enum:
          - Hospital
          - Insurance
          - COD
        example: Hospital
      caseApprovalType:
        type: string
        description: Case approval type
        enum:
          - Approved
          - Pending
        example: Pending
      insuranceCompanyId:
        type: integer
        format: int64
        description: Case Insurance Company Id
        example: '123'
      cashOnDeliveryNumber:
        type: string
        description: Cash On delivery Number for the case
        example: COD 5890
        maxLength: 150
      specialInstructions:
        type: string
        description: Case special instructions
        example: Please handle it carefully
        maxLength: 500
      caseNotes:
        type: array
        items:
          type: object
          properties:
            note:
              type: string
              description: Case note text
              example: Additional notes or comments
              maxLength: 4000
      surgeryEntryFormComments:
        type: string
        description: Case surgery entry form comments
        example: SEF comments
        maxLength: 100
      salesOrderFormComments:
        type: string
        description: Case sales order form comments
        example: SOF comments
        maxLength: 150
      userName:
        type: string
        description: User name for history records
        example: John Doe
        maxLength: 50
      shippingInstructions:
        type: array
        items:
          type: object
          required:
            - shipToAddressId
            - shippingMethodId
          properties:
            shipToAddressId:
              type: integer
              description: Shipping instructions address ID
              format: int64
              example: '34088'
            shippingMethodId:
              type: integer
              description: Shipping instructions shipping method ID
              format: int64
              example: '25'
            attention:
              type: string
              description: Shipping instructions attention
              example: Attention field
              maxLength: 50
            arriveByDate:
              type: string
              description: Shipping instructions arrive by date in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
      productSystems:
        type: array
        description: 'Providing values for productSystems will overwrite existing product systems on the case. If the case is not in New status, productSystems with assigned kits will not be editable.'
        items:
          type: object
          required:
            - productSystemId
          properties:
            productSystemId:
              type: integer
              description: Product system ID
              format: int64
              example: 45678
            additionalSpecifications:
              type: string
              description: Product system additional specifications
              example: Attention field
              maxLength: 255
    x-internal: true
  case-2:
    title: Case v2
    type: object
    properties:
      branchId:
        type: integer
        description: ID of the branch
        format: int64
        example: 123
      branchErpCode:
        type: string
        description: Branch ERP Code
        example: ERP123
        maxLength: 50
      id:
        type: integer
        description: WebOps Case ID
        format: int64
        example: 123
      encryptedWebOpsCaseId:
        type: string
        description: Encrypted WebOps Case ID
        format: string
        example: ei9T7TW1ZRx6syq4cjNQbA%3D%3D
      externalCaseId:
        type: string
        description: Customer ID of surgical case
        format: string
        example: EX123
        maxLength: 32
      surgeryDate:
        type: string
        description: Surgery date in 24 hour format. Must be a local time zone value.
        format: date-time
        example: '2018-11-05 13:15'
      caseType:
        type: string
        description: Type of the case
        enum:
          - Standard
          - Add On
        example: Standard
      caseIdentifier:
        type: string
        description: String for Rep to differentiate case from other similar cases.
        format: string
        example: CS-123
      salesRepId:
        type: integer
        description: Case sales rep ID
        format: int64
        example: 123
      salesRepErpCode:
        type: string
        description: Sales rep ERP code
        example: ERP123SR
        maxLength: 50
      coverageRepId:
        type: integer
        description: Case coverage rep ID
        format: int64
        example: 1234
      coverageRepErpCode:
        type: string
        description: Coverage rep ERP code
        example: ERP123CR
        maxLength: 50
      physicianId:
        type: integer
        description: Case physician ID
        format: int64
        example: 10011
      physicianErpCode:
        type: string
        description: Physician ERP code
        example: ERP123-PHY
        maxLength: 50
      hospitalId:
        type: integer
        description: Case hospital ID
        format: int64
        example: 50010
      hospitalErpCode:
        type: string
        description: 'Hospital ERP Code (Bill To or Account #)'
        example: ERP123-HOS
        maxLength: 50
      procedureId:
        type: integer
        description: Case procedure ID
        format: int64
        example: 25
      caseStatus:
        type: string
        description: Case status
        enum:
          - New
          - Kits Assigned
          - Assembled
          - Shipped
          - Returned
          - Checked-In
          - Reconciled
          - Closed
          - Cancelled
        example: New
      purchaseOrderNumber:
        type: string
        description: Case purchase order
        example: PONumber123
        maxLength: 50
      confirmed:
        type: boolean
        description: 'Has the case been confirmed? (Yes = true, No = false)'
        example: true
      assembled:
        type: boolean
        description: 'Has the case been assembled? (Yes = true, No = false)'
        example: true
      freight:
        type: number
        format: float
        description: Case freight value
        example: 100
      billingOrderNumber:
        type: string
        description: Case billing order number
        example: 12345-BO
        maxLength: 50
      replenishmentOrderNumber:
        type: string
        description: 'Case replenishment order number '
        example: 12345-RO
        maxLength: 50
      usageReceived:
        type: boolean
        description: 'Has the case usage been received? (Yes = true, No = false)'
        example: true
      usageReordered:
        type: boolean
        description: 'Has the case usage been reordered? (Yes = true, No = false)'
        example: true
      usageCompleted:
        type: boolean
        description: 'Has the case usage been completed? (Yes = true, No = false)'
        example: true
      patientGender:
        type: string
        description: Patient Gender
        enum:
          - Male
          - Female
        example: Male
      patientAge:
        type: integer
        description: Patient age
        example: 40
      caseBilled:
        type: boolean
        description: 'Has the case been billed? (Yes = true, No = false)'
        example: true
      revisionSurgery:
        type: boolean
        description: 'Is this a revision surgery? (Yes = true, No = false)'
        example: true
      revisionReasonId:
        type: integer
        description: Revision reasonsing Id
        format: int64
        example: 123
      primaryInvoiceType:
        type: string
        description: Case primary invoice type
        enum:
          - Hospital
          - Insurance
          - COD
        example: Hospital
      caseApprovalType:
        type: string
        description: Case approval type
        enum:
          - Approved
          - Pending
        example: Pending
      insuranceCompanyId:
        type: integer
        format: int64
        description: Case Insurance Company Id
        example: 123
      cashOnDeliveryNumber:
        type: string
        description: Cash On delivery Number for the case
        example: COD 5890
        maxLength: 150
      specialInstructions:
        type: string
        description: Case special instructions
        example: Please handle it carefully
        maxLength: 500
      caseNotes:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: WebOps Case Note ID
              format: int64
              example: 123
            note:
              type: string
              description: Case note text
              example: Additional notes or comments
              maxLength: 4000
            changedDate:
              type: string
              description: Last changed date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
      surgeryEntryFormComments:
        type: string
        description: Case surgery entry form comments
        example: SEF comments
        maxLength: 100
      salesOrderFormComments:
        type: string
        description: Case sales order form comments
        example: SOF comments
        maxLength: 150
      pickStatusType:
        type: string
        description: Case pick status type
        enum:
          - None
          - One or more
          - All
        example: None
      pickPackingNotes:
        type: string
        description: Case sales order form comments
        example: Pick packing notes
        maxLength: 100
      caseCancellationType:
        type: string
        description: Case cancellation type for cases with CANCELLED status
        enum:
          - Not Specified
          - Product Recall
          - Patient Conditions
          - Insurance Not Approved
          - Medical Office Cancel Surgery
          - Surgery Postponed Without Date
          - No Usage Registered
          - Competitors Product Preferred
          - Used Hospital Inventory
          - Instruments Not Available
          - Implants Not Available
          - Technical Representative Not Available
          - Customer Credit Block
          - Delivery Issues
          - Duplicate Order
          - Pricing not established
          - Duplicated Surgery
          - System Issues
          - Insufficient Funding
        example: Duplicated Surgery
      createdDate:
        type: string
        description: Created date and time in ISO 8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      changedBy:
        type: string
        description: Name of the user who last changed the case
        example: John Doe
        maxLength: 101
      changedDate:
        type: string
        description: Last changed date and time in ISO 8601 Z format
        format: date-time
        example: '2018-11-05T13:15:30Z'
      timezone:
        type: string
        description: Last changed date time zone
        example: America/New_York
        maxLength: 50
      shippingInstructions:
        type: array
        items:
          type: object
          properties:
            shipToAddressId:
              type: integer
              description: Shipping instructions address ID
              format: int64
              example: 34088
            shippingMethodId:
              type: integer
              description: Shipping instructions shipping method ID
              format: int64
              example: 25
            attention:
              type: string
              description: Shipping instructions attention
              example: Attention field
              maxLength: 50
            arriveByDate:
              type: string
              description: Shipping instructions arrive by date in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
      productSystems:
        type: array
        items:
          type: object
          properties:
            productSystemId:
              type: integer
              description: Product system ID
              format: int64
              example: 45678
            additionalSpecifications:
              type: string
              description: Product system additional specifications
              example: Additional specifications
              maxLength: 255
            kitFamilies:
              type: array
              items:
                type: object
                properties:
                  kitFamilyId:
                    type: integer
                    description: kit family ID
                    format: int64
                    example: 45678
                  kitId:
                    type: integer
                    description: Kit ID
                    format: int64
                    example: 45678
                  kitComplete:
                    type: boolean
                    description: '(Yes = true, No = false)'
                    example: true
                  kitStatus:
                    type: string
                    description: kit status
                    enum:
                      - In Warehouse
                      - In Field
                      - Transferred
                      - Pending Receipt
                      - Quarantine
                    example: In Warehouse
                  caseKitStatus:
                    type: string
                    description: case kit status
                    enum:
                      - Not Assigned
                      - Assigned
                      - Outbound
                      - At Location
                      - Inbound
                      - Returned
                      - Checked In
                      - Reconciled
                    example: Not Assigned
                  kitProcessStatus:
                    type: string
                    description: Kit process status
                    enum:
                      - Inspection
                      - Cleaning
                      - Repair
                      - Upgrade
                      - Scrap
                      - Downgrade
                      - Post-Cleaning Inspection
                      - Ready
                    example: Inspection
                required:
                  - kitFamilyId
                  - caseKitStatus
          required:
            - productSystemId
      inventoryItems:
        type: array
        items:
          type: object
          properties:
            inventoryItemId:
              type: integer
              description: Inventory Item Id
              format: int64
              example: 1696799083
            catalogNumber:
              type: string
              description: Catalog Number
              example: Z01-109-0-008
            quantity:
              type: integer
              description: Inventory Item Quantity
              format: int64
              example: 1
          required:
            - inventoryItemId
            - catalogNumber
            - quantity
      removedProductSystems:
        type: array
        items:
          type: object
          properties:
            productSystemId:
              type: integer
              description: Product system ID
              format: int64
              example: 45678
          required:
            - productSystemId
      loanerUsage:
        type: array
        items:
          type: object
          properties:
            usageItemId:
              type: integer
              description: WebOps usage item ID
              format: int64
              example: 34088
            externalCaseUsageId:
              type: string
              description: Customer ID of case usage
              format: string
              example: EX123
              maxLength: 32
            kitId:
              type: integer
              description: Kit ID against which the loaner usage was recorded
              format: int64
              example: 34088
            inventoryItemPartId:
              type: integer
              description: Inventory item part ID against which the loaner usage was recorded
              format: int64
              example: 34088
            catalogNumber:
              type: string
              description: Usage catalog number
              example: 02-354-TEMP
            lotCode:
              type: string
              description: Usage lot code
              example: LotCode1
            kitInventoryLocationId:
              type: integer
              description: Kit inventory location ID
              format: int64
              example: 1289
            price:
              type: integer
              format: double
              description: Usage price
              example: 12.89
            priceCurrency:
              type: string
              description: Usage price currency code - ISO 4217
              example: USD
            priceDiscrepancyCodeId:
              type: integer
              description: Usage price discrepancy code ID
              format: int64
              example: 34088
            shipToAddressId:
              type: integer
              description: Address Id where item part will be shipped to
              format: int64
              example: 1289
            replenToAddressId:
              type: integer
              description: Replenishment shipment address ID
              format: int64
              example: 1345
            replenishmentShippingMethodId:
              type: integer
              description: Usage replenishment shipping method ID
              format: int64
              example: 1345
            createdDate:
              type: string
              description: Created date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
            changedDate:
              type: string
              description: Last changed date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
            timezone:
              type: string
              description: Last changed date time zone
              example: America/New_York
              maxLength: 50
          required:
            - usageItemId
            - kitId
            - inventoryItemPartId
            - catalogNumber
      consignmentUsage:
        type: array
        items:
          type: object
          properties:
            usageItemId:
              type: integer
              description: WebOps usage item ID
              format: int64
              example: 34088
            externalCaseUsageId:
              type: string
              description: Customer ID of case usage
              format: string
              example: EX123
              maxLength: 32
            kitId:
              type: integer
              description: Kit ID against which the consignment usage was recorded
              format: int64
              example: 34088
            kitInventoryLocationId:
              type: integer
              description: Kit inventory location ID
              format: int64
              example: 1289
            inventoryItemPartId:
              type: integer
              description: Inventory item part ID against which the consignment usage was recorded
              format: int64
              example: 34088
            catalogNumber:
              type: string
              description: Usage catalog number
              example: 02-354-TEMP
            lotCode:
              type: string
              description: Usage lot code
              example: LotCode1
            inventoryLocationId:
              type: integer
              description: Inventory location ID for the item part used
              format: int64
              example: 1289
            price:
              type: integer
              format: double
              description: Usage price
              example: 12.89
            priceCurrency:
              type: string
              description: Usage price currency code - ISO 4217
              example: USD
            priceDiscrepancyCodeId:
              type: integer
              description: Usage price discrepancy code ID
              format: int64
              example: 34088
            shipToAddressId:
              type: integer
              description: Address ID where item part will be shipped to
              format: int64
              example: 1289
            replenToAddressId:
              type: integer
              description: Replenishment shipment address ID
              format: int64
              example: 1289
            replenishmentShippingMethodId:
              type: integer
              description: Usage replenishment shipping method ID
              format: int64
              example: 1345
            createdDate:
              type: string
              description: Created date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
            changedDate:
              type: string
              description: Last changed date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
            timezone:
              type: string
              description: Last changed date time zone
              example: America/New_York
              maxLength: 50
          required:
            - usageItemId
            - kitId
            - inventoryItemPartId
            - catalogNumber
      externalUsage:
        type: array
        items:
          type: object
          properties:
            usageItemId:
              type: integer
              description: WebOps usage item ID
              format: int64
              example: 34088
            externalCaseUsageId:
              type: string
              description: Customer ID of case usage
              format: string
              example: EX123
              maxLength: 32
            catalogNumber:
              type: string
              description: Usage catalog number
              example: 02-354-TEMP
            lotCode:
              type: string
              description: Usage lot code
              example: LotCode1
            price:
              type: integer
              format: double
              description: Usage price
              example: 12.89
            priceCurrency:
              type: string
              description: Usage price currency code - ISO 4217
              example: USD
            priceDiscrepancyCodeId:
              type: integer
              description: Usage price discrepancy code ID
              format: int64
              example: 34088
            shipToAddressId:
              type: integer
              description: Address Id where item part will be shipped to
              format: int64
              example: 1289
            replenToAddressId:
              type: integer
              description: Replenishment shipment address ID
              format: int64
              example: 1345
            replenishmentShippingMethodId:
              type: integer
              description: Usage replenishment shipping method ID
              format: int64
              example: 1345
            createdDate:
              type: string
              description: Created date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
            changedDate:
              type: string
              description: Last changed date and time in ISO 8601 Z format
              format: date-time
              example: '2018-11-05T13:15:30Z'
            timezone:
              type: string
              description: Last changed date time zone
              example: America/New_York
              maxLength: 50
          required:
            - usageItemId
            - catalogNumber
      pickList:
        type: object
        properties:
          id:
            type: integer
            description: ID of the pick list
            format: int64
            example: 123
          changedBy:
            type: string
            description: Name of the user who last changed the pick list
            example: John Doe
            maxLength: 101
          changedDate:
            type: string
            description: Last changed date and time in ISO 8601 Z format
            format: date-time
            example: '2018-11-05T13:15:30Z'
          items:
            type: array
            items:
              type: object
              properties:
                itemId:
                  type: integer
                  description: ID of the pick list item
                  format: int64
                  example: 123
                scanned:
                  type: boolean
                  description: 'Item scanned - (Yes = true, No = false)'
                  example: true
                caseUsageItemId:
                  type: integer
                  description: WebOps usage item ID
                  format: int64
                  example: 34088
                changedBy:
                  type: string
                  description: Name of the user who last changed the pick list
                  example: John Doe
                  maxLength: 101
                changedDate:
                  type: string
                  description: Last changed date and time in ISO 8601 Z format
                  format: date-time
                  example: '2018-11-05T13:15:30Z'
                catalogNumber:
                  type: string
                  description: Usage catalog number
                  maxLength: 20
                  example: 02-354-TEMP
                lotCode:
                  type: string
                  description: Usage lot code
                  maxLength: 20
                  example: LotCode1
                inventoryItemPartId:
                  type: integer
                  description: Inventory item part ID against which the usage was recorded
                  format: int64
                  example: 34088
              required:
                - itemId
                - changedBy
                - changedDate
        required:
          - id
          - changedBy
          - changedDate
      customKits:
        type: array
        items:
          type: object
          properties:
            kitFamilyId:
              type: integer
              description: kit family ID
              format: int64
              example: 45678
            kitId:
              type: integer
              description: Kit ID
              format: int64
              example: 45678
            kitStatus:
              type: string
              description: kit status
              enum:
                - In Warehouse
                - In Field
                - Transferred
                - Pending Receipt
                - Quarantine
              example: In Warehouse
            caseKitStatus:
              type: string
              description: case kit status
              enum:
                - Not Assigned
                - Assigned
                - Outbound
                - At Location
                - Inbound
                - Returned
                - Checked In
                - Reconciled
              example: Not Assigned
            kitProcessStatus:
              type: string
              description: Kit process status
              enum:
                - Inspection
                - Cleaning
                - Repair
                - Upgrade
                - Scrap
                - Downgrade
                - Post-Cleaning Inspection
                - Ready
              example: Inspection
          required:
            - kitFamilyId
            - kitId
            - caseKitStatus
    required:
      - branchId
      - branchErpCode
      - id
      - surgeryDate
      - caseType
      - salesRepId
      - physicianId
      - hospitalId
      - procedureId
    x-internal: true
  count:
    title: Count
    type: object
    required:
      - count
      - messageId
      - timestamp
    properties:
      messageId:
        type: string
        format: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        description: Message ID
      timestamp:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Current date/time in ISO-8601 Z format
      count:
        type: integer
        example: 100
        description: total number of results that match the requested criteria
    x-internal: true
  message-data:
    title: Message Data
    type: object
    required:
      - messageId
      - timestamp
    properties:
      messageId:
        type: string
        example: 2d648c64-3eee-4fc7-9e19-df6f14c3fefd
        description: Message ID of the request
      timestamp:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Current date/time in ISO-8601 Z format
    x-internal: true
  paging:
    title: Paging
    type: object
    properties:
      limit:
        type: integer
        example: 50
        description: 'Number of returned results (default: 50)(maximum: 500)'
      page:
        type: integer
        example: 1
        description: 'Page to show (default: 1)'
    description: Limit and page parameters get set to default values if not provided
    x-internal: true
  updated:
    title: Updated
    type: object
    required:
      - manufacturerId
      - messageId
      - timestamp
    properties:
      updatedAtMin:
        type: string
        format: date-time
        example: '2017-11-05T13:15:30Z'
        description: Get updated results after this date. All date times must be provided in ISO 8601 Z format
      updatedAtMax:
        type: string
        format: date-time
        example: '2018-11-05T13:15:30Z'
        description: Get updated results before this date. All date times must be provided in ISO 8601 Z format
    x-internal: true